<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon portfolio</title>
    <link rel="stylesheet" href="portfolio.css">
</head>
<body>
        <div class="portfolio">
            <!--header-->
            <div class="container">
                <div class="logo">
                    <h2>Noella</h2>
                </div>
                <ul class="menu">
                    <li><a href="#about">About me</a></li>
                    <li><a href="#propos">Skills</a></li>
                    <li><a href="#experiences">Project</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div> 
            <!--about-->
            <section id="about">
                <div class="about_me">
                    <div class="about_text">
                        <p>Welcome to my sites</p>
                        <h1>Hi! I'm Noella |
                        <span>UI/UX Designer</span></h1>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
                           Deleniti eveniet repellat non veniam blanditiis nesciunt sed suscipit?<br>Consectetur 
                        </p>
                    </div>
                    <div class="image">
                        
                        <img src="../sary/user-1.png" width="350px" height="350px" alt="" srcset="">
                    </div>
                </div>
                <div>
                    <ul class="bouton">
                        <li><a href="#">Hire me!</a></li>
                        <li><a href="#">See my project</a></li>
                    </ul>
                </div>
            </section> 
    
        </div>
   
</body>